::selection {
    background: #A239CA;
    color: #E7DFDD;
}

/**
    colors
    #C06014
    #EDD8CD
    #000
    #CDCDCD
*/

body {
	background: #f6f6f6;
}

.nav {
	height: 7%;
}

.ui.tiered.nav.menu {
  background: white;
  background-image: url("/css/logo.png");
  background-repeat: no-repeat;
  background-position: right;
}

.ui.menu .item {
    color: black; 
}

.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
  cursor: pointer;
  background: #C06014 !important;
  color: white !important;
}


#content-container {
	/*height: 84.9%;*/
}

.page-title {
	text-align: center;
	margin-bottom: 1em;
	color: #C06014;
}

.ui.footer.form-page {
	display: flex;
	height: 5%; 
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #cdcdcd;
    color: #3b3a36;
}

#model-list {
	margin-top: 5%;
    color: #E7DFDD;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
