::selection {
    background: #A239CA;
    color: #E7DFDD;
}


body {
	background: #e9ece5;
}

.nav {
	height: 7%;
}

#content-container {
	height: 84.9%;
}

.page-title {
	text-align: center;
	margin-bottom: 1em;
	color: #3b3a36;
}

.ui.footer.form-page {
	display: flex;
	height: 5%; 
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #b3c2bf;
    color: #3b3a36;
}

#model-list {
	margin-top: 5%;
    color: #E7DFDD;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}