<html>
   <head>
      <title> Neural Network Manager </title>
      <link rel="stylesheet" type="text/css" href="/css/semantic.css">
      <script src="/js/jquery-3.1.0.min.js"></script>
      <script src="/js/semantic.js"></script>
   </head>
   <body>
     <div class="ui tiered nav menu">
      <div class="container">
        <a class="item logo" href="#">
          <b>Neural Network</b> Manager
        </a>
        <a class="item" href="#"> Save States </a>
        <a class="item" href="#"> Build Log </a>
      </div>
    </div>

   </body>
 </html>
