<html>
   <head>
      <title> Neural Network Manager </title>
      <link rel="stylesheet" type="text/css" href="/css/semantic.css">
      <script src="/js/jquery-3.1.0.min.js"></script>
      <script src="/js/semantic.js"></script>
   </head>
   <body>
     <div class="ui tiered nav menu">
      <div class="container">
        <a class="item logo" href="#">
          <b>Neural Network</b> Manager
        </a>
        <a class="item" href="#"> Save States </a>
        <a class="item" href="#"> Build Log </a>
      </div>
    </div>


    
    <button id="pause" class="ui labeled icon button" type="submit" name="action" value="pause">
      <i class="pause icon"></i>
      Pause
    </button>
    <button id="play" class="ui labeled icon button" type="submit" name="action" value="play">
      <i class="play icon"></i>
      Run
    </button>
    <button id="stop" class="ui labeled icon button" type="submit" name="action" value="stop">
      <i class="stop icon"></i>
      Stop
    </button>
    
   </body>

   <script>

    $("#pause").click(function() {
      $.ajax("/load", {
        contentType : 'application/json',
        type : 'POST',
        success: function(data) {
        }
      })
    });

    $("#play").click(function() {
      $.ajax("/train", {
        contentType : 'application/json',
        type : 'POST',
        success: function(data) {
        }
      })
    });

    $("#stop").click(function() {
      $.ajax("/stop", {
        contentType : 'application/json',
        type : 'POST',
        success: function(data) {
        }
      })
    });

   </script>
 </html>

