<%def name="createLoader()">
<div id="loader" class="loading-wrapper">
  <div class="eighty-four-backdrop black"></div>
  <div class="eight">
    <svg id='top-eight-animation' width="150" height="150">
      <g>
      <circle class="circle-animation-one" r="40" cx='75' cy='75' stroke-width="25" stroke="#7a0b54" fill="none"/>
      </g>
    </svg>
    <div class="circle-top white"></div>
    <div class="circle-top-inner black"></div>
    <svg id='bot-eight-animation' width="150" height="150">
      <g>
      <circle class="circle-animation-two" r="40" cx='75' cy='75' stroke-width="25" stroke="#7a0b54" fill="none"/>
      </g>
    </svg>
    <div class="circle-bot white"></div>
    <div class="circle-bot-inner black"></div>
  </div>
  <div class="four">
    <div class="four-parallelogram white"></div>
    <div id="four-parallelogram-animation" class="four-parallelogram purple"></div>
    <div id="four-center-bar-animation" class="four-center-bar purple"></div>
    <div class="four-center-bar white"></div>
    <div class="four-stem purple-blue"></div>
  </div>
  <div id="period-animation" class="period purple"></div>
  <div class="five">
    <div class="five-top black"></div>
    <div class="five-stem black"></div>
    <div class="five-outer-circle black"></div>
    <div class="five-inner-circle white"></div>
    <div class="five-inner-rect white"></div>
    <div id="five-animation" class="purple-blue"></div>
  </div>
  <div class="one">
    <div class="one-parallelogram-strip white"></div>
    <div id="one-parallelogram-animation" class="one-parallelogram black"></div>
    <div class="one-stem black"></div>
    <div id="one-stem-animation" class="one-stem blue"></div>
  </div>
  <div id="degree-animation" class="degree">
    <div class="degree-outer blue"></div>
    <div class="degree-inner white"></div>
  </div>
</div>
</%def>
