<%inherit file="index.html" />
<%block name="content">
  <button id="login" class="ui labeled icon button" type="submit" name="action" value="login">
    <i class="pause icon"></i>
    Login
  </button>
  <button id="pause" class="ui labeled icon button" type="submit" name="action" value="pause">
    <i class="pause icon"></i>
    Pause
  </button>
  <button id="play" class="ui labeled icon button" type="submit" name="action" value="play">
    <i class="play icon"></i>
    Run
  </button>
  <button id="stop" class="ui labeled icon button" type="submit" name="action" value="stop">
    <i class="stop icon"></i>
    Stop
  </button>
  <button id="save" class="ui labeled icon button" type="submit" name="action" value="stop">
    <i class="download do icon"></i>
    Save
  </button>
  <button id="load" class="ui labeled icon button" type="submit" name="action" value="stop">
    <i class="upload do icon"></i>
    Load
  </button>

  <div id="state"></div>
  <div id="epoch"></div>
  <div id="epochTarget"></div>
  <div id="avgtime"></div>
  <div id="remaining"></div>
  <div id="trainerr"></div>
  <div id="accuracy"></div>
  <div id="snapshot"></div>

  <div id="model-list" class="ui fluid search selection dropdown">
    <input type="hidden" name="country">
    <i class="dropdown icon"></i>
    <div class="default text">Select Model</div>
    <div id="model-list-wrapper" class="menu"></div>
  </div>

  <canvas id="myChart"></canvas>

  <script src="/js/snapshotHandler.js"></script>
  <script src="/js/modelListHandler.js"></script>
  <script src="/js/buttonHandler.js"></script>
</%block>
